<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icons/IstanbulExplorerIcon.jpg">
    <link rel="stylesheet" href="/styles/gallery.css">
    <title>Istanbul Explorer</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <a href="/">Home Page</a>
            <a href="events">Events</a>
            <a class="active">Gallery</a>
            <a href="contact">Contact</a>
        </nav>
        <h3 class="mainHeader">Exciting Shoots from Our Past Events</h3>
        <div class="slider">
            <div class="slide">
                <h4 class="eventHeader">Maiden Tower Visit</h4>
                <img src="/images/MaidenTowerOuterView1.jpg" alt="Maiden Tower Event Photo 1">
            </div>
            <div class="slide">
                <h4 class="eventHeader">Maiden Tower Visit</h4>
                <img src="/images/MaidenTowerInnerView.png" alt="Maiden Tower Event Photo 2">
            </div>
            <div class="slide">
                <h4 class="eventHeader">Maiden Tower Visit</h4>
                <img src="/images/MaidenTowerOuterView2.jpg" alt="Maiden Tower Event Photo 3">
            </div>
            <div class="slide">
                <h4 class="eventHeader">Maiden Tower Visit</h4>
                <video autoplay muted loop>
                    <source src="/videos/MaidenTowerOuterViewRainy.mp4" type="video/mp4">
                    Your browser does not support the video feature.
                </video>
            </div>

            <div class="slide">
                <h4 class="eventHeader">Galata Tower Visit</h4>
                <img src="/images/GalataTowerOuterView1.jpg" alt="Galata Tower Event Photo 1">
            </div>
            <div class="slide">
                <h4 class="eventHeader">Galata Tower Visit</h4>
                <img src="/images/GalataTowerInnerView.jpg" alt="Galata Tower Event Photo 2">
            </div>
            <div class="slide">
                <h4 class="eventHeader">Galata Tower Visit</h4>
                <img src="/images/GalataTowerOuterView2.jpg" alt="Galata Tower Event Photo 3">
            </div>
            <div class="slide">
                <h4 class="eventHeader">Galata Tower Visit</h4>
                <video autoplay muted loop>
                    <source src="/videos/GalataTowerOuterView.mp4" type="video/mp4">
                    Your browser does not support the video feature.
                </video>
            </div>

            <div class="slide">
                <h4 class="eventHeader">Dolmabahçe Palace Visit</h4>
                <img src="/images/DolmabahçePalaceOuterView1.jpg" alt="Dolmabahçe Palace Event Photo 1">
            </div>
            <div class="slide">
                <h4 class="eventHeader">Dolmabahçe Palace Visit</h4>
                <img src="/images/DolmabahçePalaceInnerView.jpg" alt="Dolmabahçe Palace Event Photo 2">
            </div>
            <div class="slide">
                <h4 class="eventHeader">Dolmabahçe Palace Visit</h4>
                <img src="/images/DolmabahçePalaceOuterView2.jpg" alt="Dolmabahçe Palace Event Photo 3">
            </div>

            <div class="sliderButtons">
                <button class="previousSlide"><</button>
                <button class="nextSlide">></button>
            </div>
        </div>
    </div>

    <script src="/scripts/gallery.js"></script>
</body>
</html>