<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icons/IstanbulExplorerIcon.jpg">
    <link rel="stylesheet" href="/styles/homePage.css">
    <title>Istanbul Explorer</title>
</head>
<body>
    <div id="container">
        <video autoplay muted loop>
            <source src="/videos/homepageVideo.mp4" type="video/mp4">
            Your browser does not support the video feature.
        </video>
        <div class="overlay"></div>
        <nav class="navbar">
            <a class="active">Home Page</a>
            <a href="events">Events</a>
            <a href="gallery">Gallery</a>
            <a href="contact">Contact</a>
        </nav>
        <h2 class="mainHeader">Istanbul Explorer</h2>
        <p class="mainDescription">Discover the Istanbul</p>
        <div class="featuresDiv">
            <div class="featuredActivity">
                <img src="/images/basilicaCistern.jpg" alt="Basilica Cistern">
                <p>Visit Historical Places</p>
            </div>
            <div class="featuredActivity">
                <img src="/images/sultanahmetMeatball.jpg" alt="Istanbul Meals">
                <p>Taste Delicious Meals</p>
            </div>
            <div class="featuredActivity">
                <img src="/images/istanbulLandscape.jpg" alt="Istanbul Landscape">
                <p>Watch Wonderful Landscapes</p>
            </div>
        </div>
    </div>
</body>
</html>