@font-face 
{
    font-family: "Parisienne";
    src: url("../fonts/Parisienne-Regular.ttf");
}

body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container
{
    width: 100vw;
    height: 100vh;
    background: #1f2224;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.navbar {
    top:0;
    width: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    z-index: 2; 
    margin-bottom: 2rem;
    height: auto;
}

.navbar a {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
   transition: 0.6s ease-in-out;
   color: gold; 
   cursor: pointer;
}

.active{
    color: gold !important;
    cursor:default !important;
}

.mainHeader
{
    color: gold;
    text-align: center;
    font-size: 3rem;
    font-family: "parisienne";
}

.slider {
    width: 70%;
    height: 70%;
    overflow: hidden;   
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
    text-align: center;
    overflow: hidden;
}


.slide
{
    width: 60%;
    height: 70%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventHeader
{
    font-size: 2.5rem;
    color: white;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    font-family: "parisienne";
}
.slide img, .slide video
{
    display: block;
    background-size: contain;
    margin: 2rem auto;
    width:90%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 4px solid goldenrod;
    border-radius: 3px;
}

.sliderButtons
{
    height: auto;
    width: 150px;
    height: 10%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background: #0275d8;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    border: 3px solid white;
}


button:hover
{
    background: chocolate;
    transition: 0.6s ease-in-out;
}