@font-face 
{
    font-family: "Parisienne";
    src: url("../fonts/Parisienne-Regular.ttf");
}
  


body 
{
    margin: 0;
    height: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.navbar {
    position: relative; 
    display: flex;
    padding: 1rem;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    z-index: 2; 
    overflow: hidden;
}

.navbar a {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
   transition: 0.6s ease-in-out;
   color: gold; 
   cursor: pointer;
}

.active{
    color: gold !important;
    cursor:default !important;
}

.mainHeader
{
    text-align: center;
    color: gold;
    font-size:3rem;
    z-index: 3;
    margin: 2rem;
}

.mainDescription
{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    z-index:3;
    margin: 0;
    font-family: "parisienne";
}

.featuresDiv
{
    width: 60%;
    height: auto;
    background: transparent;
    z-index: 3;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featuredActivity
{
    background: transparent;
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featuredActivity img
{
    width: 10rem;
    height:10rem;
    border-radius: 50%;
    border: 3px solid goldenrod;
}

.featuredActivity p
{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1000px)
{

    .featuresDiv
    {
        width: 90%;
        justify-content: space-between;
    }

    .featuredActivity img
    {
        width: 5rem;
        height: 5rem;
    }

    .featuredActivity p
    {
        font-size: 1rem;
    }
}